[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule ".emacs.d/solarized-emacs"]
	path = .emacs.d/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule ".emacs.d/markdown-mode"]
	path = .emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
	branch = stable
[submodule ".emacs.d/helm"]
	path = .emacs.d/helm
	url = https://github.com/emacs-helm/helm.git
