[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
