[submodule ".emacs.d/emacs-color-theme-solarized"]
	path = .emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule ".emacs.d/solarized-emacs"]
	path = .emacs.d/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
